/**
 * Frontend styles.
 *
 * @package Ghop/Assets/CSS
 * @since   1.2.0
 */

.intel-otp #country-listbox {
	position: fixed !important;
}

.ghop-dialog {
	max-width: 500px;
	margin: auto;
	padding: 1rem;
}

.ghop-dialog-content {
	text-align: center;
}

.ghop-dialog-content .notice {
	margin-top: 1rem;
	padding: 0.3rem;
	font-size: 1rem;
	line-height: 1.2;
}

.ghop-dialog-content .notice-error {
	background-color: #fff0f4;
	color: #c51244;
}

.phone-verification-heading {
	margin: 1rem 0;
}

#ghop-verify-phone-form input,
#ghop-verify-phone-form .intl-tel-input {
	margin-top: 1rem;
}

#ghop-verify-phone-form input[type="submit"],
.phone-verified-button {
	margin-top: 1rem;
	padding: 12px 24px;
}
